image: rancher/hyperkube:{{build.tag}}
manifests:
  -
    image: rancher/hyperkube:{{build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: rancher/hyperkube:{{build.tag}}-linux-arm64
    platform:
      architecture: arm64
      os: linux
  -
    image: rancher/hyperkube:{{build.tag}}-windows-1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: rancher/hyperkube:{{build.tag}}-windows-1903
    platform:
      architecture: amd64
      os: windows
      version: 1903
  -
    image: rancher/hyperkube:{{build.tag}}-windows-1909
    platform:
      architecture: amd64
      os: windows
      version: 1909
